// Breakpoints basados en Angular Material.
$width-xs: 599px;
$width-sm: 959px;
$width-md: 1279px;
$width-lg: 1919px;
$width-xl: $width-lg + 1;
$width-gt-xs: $width-xs + 1;
$width-gt-sm: $width-sm + 1;
$width-gt-md: $width-md + 1;
$width-gt-lg: $width-lg + 1;
.contenido {
    .cuerpo {
        .validaCodigoForm,
        .registraUsuarioForm {
            &.ng-enter {
                transition: 0.5s linear all;
                opacity: 0;
                &.ng-enter-active {
                    opacity: 1;
                }
            }
            &.ng-leave {
                transition: 0.5s linear all;
                opacity: 1;
                &.ng-leave-active {
                    opacity: 0;
                }
            }
        }
    }
}
.eliminar-stack {
    color: rgb(255,64,129);
}
.md-icon-button {
    & .md-avatar {
        margin-top: -1*($baseline-grid);
        box-sizing: content-box;
        flex: none;
        width: $list-item-primary-avatar-width;
        height: $list-item-primary-avatar-width;
    }
}
.cambiar-perfil {
    $profile-img-size: 175px;
    .cont-img-perfil {
        position: relative;
        .imagen-perfil {
            overflow: hidden;
            float: left;
            width: $profile-img-size;
            height: $profile-img-size;
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            &:hover {
                &:before {
                    content: "";
                    width: $profile-img-size;
                    height: $profile-img-size;
                    background-color: rgba(0,0,0,0.5);
                    position: absolute;
                    border-radius: 50%;
                    z-index: 99;
                }
                &:after {
                    font-family: FontAwesome;
                    content: $fa-var-pencil;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    color: #eee;
                    font-size: 2em;
                    margin-left: -0.5em;
                    margin-top: -0.5em;
                    z-index: 101;
                }
            }
            > .img {
                width: $profile-img-size;
                height: $profile-img-size;
                background-position: 50%;
                background-size: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
            > .precarga {
                z-index: 104;
                margin-left: ($profile-img-size / 2) - 25;
                margin-top: ($profile-img-size / 2) - 25;
            }
        }
    }
    md-expansion-panel-collapsed,
    md-expansion-panel-header {
        cursor: pointer;
    }
}